<!-- This is an example component -->
<div class="max-w-2xl mx-auto">
  <%= render @card_player_1 %>
</div>
<div class="max-w-2xl mx-auto">
  <%= render @card_player_2 %>
</div>

<div>
  <p><%= @top_trump.state_message :player_1 %></p>
</div>