<div>
  <h1 class="font-bold text-4xl">Games</h1>
  <p>Visit the Top Trump game by clicking <%= link_to "here", top_trumps_path, class: "text-blue-600 hover:text-purple-400 visited:text-purple-900" %></p>
</div>
