<div class="text-right">
<% if current_user %>
  <p> Current user: <%= current_user.name %> <%= button_to "(Log out)", destroy_user_session_path, method: :delete, class: "text-red-600 hover:text-purple-500"  %>
<% else %>
  <%= link_to "Log in", new_user_session_path, class: "text-blue-600 hover:text-purple-500" %>
<% end %>
</div>